# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
animation

# Local Netlify folder
.netlify
68fdaf2bb90f800008c41849--nsastudentreports.netlify.app_2025-10-26_16-19-30.json
68fc92ed62dcd400089b0067--nsastudentreports.netlify.app_2025-10-25_20-06-25.json
development--nsastudentreports.netlify.app-20251026T172516.json
68fdbf9887e088000888cf2c--nsastudentreports.netlify.app_2025-10-26_17-29-21.json
# Environment variables (contains sensitive data)
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
